name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  BEA_KEY: ${{ secrets.BEA_KEY }}
  CENSUS_API_KEY: ${{ secrets.CENSUS_API_KEY }}

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_PASSWORD: postgres
        volumes:
          - ${{ github.workspace }}/db/schemas:/docker-entrypoint-initdb.d
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install dependencies
        run: |
          pip install kedro==0.15.8
          kedro install
      - run: black --check ./src
      - name: run tests
        run: pytest src --maxfail=2
        env:
          PG_CONN_STR: "postgresql://postgres:postgres@localhost:5432"
